@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: "Inter", sans-serif;
    color: #393939;
}

.bg-primary,
.btn-primary {
    background-color: #E3352E !important;
    border: none;
}

.no-radius {
    border-radius: 0;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: #E85751 !important;
}

.text-primary {
    color: #E3352E !important;
}

.text-primary:hover {
    color: #E85751 !important;
    text-decoration: underline !important;
}

.brand-name {
    font-size: 10px;
}

.nav-item {
    font-size: 13px;
    padding: 10px 20px;
}

#bg-intro {
    background: linear-gradient( 0deg, rgba(0, 0, 0, 0.50),rgba(0, 0, 0, 0.5)), url('../img/foto-3.jpg');
    background-size: cover;
    height: 100vh;
}

.icon-round {
    border: 1px solid #DCDCDC;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.img-ket {
    box-shadow: 21px 23px 0px rgba(255,255,255,1), 21px 23px 0px 2px rgba(220,220,220,1);
    -webkit-box-shadow: 21px 23px 0px rgba(255,255,255,1), 21px 23px 0px 2px rgba(220,220,220,1);
    -moz-box-shadow: 21px 23px 0px rgba(255,255,255,1), 21px 23px 0px 2px rgba(220,220,220,1);
}

.bg-circle {
    background-color: #E3352E;
    border-radius: 100%;
    border: 1px solid #fff;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.carousel-gallery {
    height: 550px;
}

.carousel-item>img {
    height: 550px;
    object-fit: cover;
    object-position: center;
}


.bg-footer {
    background-image: url('../img/bg-footer.png');
    background-position: right;
    background-size: cover;
}

.color-gray {
    filter: brightness(0.5);
}

.color-primary {
    color: #E3352E;
}

.color-gray:active {
    filter: brightness(0.8);
}

.fs-7 {
    font-size: 0.75em;
}

#carouselInnerCard {
    padding: 0 3em;
}

#carouselInnerCard>.carousel-item>.card {
    margin: 0 .5em;
}

#arrowCardPrev,
#arrowCardNext {
    width: 3em;
    background-color: white;
    opacity: 100%;
}

.pad-40 {
    padding: 39px;
    width: 23rem;
}

.text-justify {
    text-align: justify;
}

.alert-primary {
    color: #227999;
    background-color: #D6F0FA; 
}

.gallery-active {
    border: 5px solid rgba(87,87,87,0.5);
}

.img-gallery {
    width           : 100%;
    height          : 151px;
    object-fit      : cover;
    object-position : center;
    min-height      : 151px;
    max-height      : fit-content;
}

.side-content {
    padding-left: 43px;
    padding-right: 0;
}

.text-wrap>p {
    font-size: 18px;
    line-height: 30px;
}

.publikasi-cards {
    display               : grid;
    grid-template-columns : auto;
    gap                   : 40px;
}

.list-group-item-action {
    text-decoration: none;
}

@media (min-width: 576px) {
    .publikasi-cards {
        grid-template-columns: auto auto;
    }
}

@media (min-width: 768px) {
    .img-gallery {
        width : 250px;
    }

    .publikasi-cards {
        grid-template-columns : auto auto auto;
    }
}

@media (min-width: 1024px) {
    #carouselInnerCard .carousel-item {
        margin-right: 0 !important;
        flex: 0 0 25% !important;
        display: block !important;
    }

    .carousel-inner {
        display: flex;
    }
    
    .img-gallery {
        width : 310px;
    }

    .publikasi-cards {
        grid-template-columns: auto auto auto auto;
        gap: 68px;
    }
}


@media screen and (max-width: 768px) {
    .justify-md-text {
        text-align: justify;
    }

    .w-50 {
        width: 100% !important;
    }

    #carouselInnerCard {
        padding: 0 2.75em;
    }

    .pad-40 {
        width: 100%;
    }

}

table>tbody>tr>td {
    color: #393939 !important;
}

@media screen and (max-width: 1300px) {
    .side-content {
        padding-left: 0px;
    }
}
